[Unit]
Description=SSHproxy key syncronization
After=network.target network-online.target systemd-networkd.service NetworkManager.service connman.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sshproxy_syncfile

